<section class="stats">
    <span class="closed">{{getClosedCount()}}</span>
    <span> / </span>
    <span>{{bugs.length}}</span>
</section>
<section class="sort"><label for="">Order By :</label>
    <select name="" id="">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>
    <label for="">Descending ? : </label>
    <input type="checkbox" name="" id="">
</section>
<section class="edit">
    <label for="">Bug Name :</label>
    <input type="text" #txtNewBugName>
    <input type="button" value="Add New" (click)="onAddNewClick(txtNewBugName.value)">
</section>
<section class="list">
    <ol>
        <li *ngFor="let bug of bugs; index as idx">
            <span 
                [ngClass]="{closed : bug.isClosed}"
                class="bugname" (click)="onBugNameClick(bug)">
                {{bug.name}}
            </span>
            <div class="datetime">[created at]</div>
            <input type="button" value="Remove" (click)="onRemoveClick(idx)">
        </li>
    </ol>
    <input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>